body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.customBtn1,
.customBtn2,
.customBtn3,
.customBtn4,
.customBtn5,
.customBtn6,
.customBtn7,
.customBtn8,
.customBtn9 {
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03rem;
}
.customBtn1:hover {
  box-shadow: 0 0 0 0.25rem #008080;
}
.customBtn2:hover {
  box-shadow: 0 0 0 0.25rem #0000ff;
}
.customBtn3:hover {
  box-shadow: 0 0 0 0.25rem #4b0082;
}
.customBtn4:hover {
  box-shadow: 0 0 0 0.25rem #800000;
}
.customBtn5:hover {
  box-shadow: 0 0 0 0.25rem #800080;
}
.customBtn6:hover {
  box-shadow: 0 0 0 0.25rem#FFA500;
}
.customBtn7:hover {
  box-shadow: 0 0 0 0.25rem #a52a2a;
}
.customBtn8:hover {
  box-shadow: 0 0 0 0.25rem #808080;
}
.customBtn9:hover {
  box-shadow: 0 0 0 0.25rem #ff0000;
}
.leaflet-control-attribution {
  display: none !important;
}
